<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MGLMapboxAccessToken</key>
	<string>sk.eyJ1IjoiZHRyb3N0bGkiLCJhIjoiY2lnMW8wYzVvMTExbHYzbTNxenN2aTE1ciJ9.kdDhb3nilaW2wdL5uZRYtg</string>
	<key>ParseClientKey</key>
	<string>CVLY7rxygI2Smcr6LG2EG4e6SBHlO5DzZmuZTk3p</string>
	<key>ParseID</key>
	<string>1vAYCpbDNQ4mnGDrj3IU6Y5McUsVsuqlDQD8z6yj</string>
</dict>
</plist>
